<div class="col-sm-12 col-md-12 back-image-2 font-color">
  <div class="edit-user">
    <%= render 'error_message', user: @user %>
    <%= form_with model: @user, url: user_path, local: true do |user| %>
      <h4 class="edit-space">写真</h4>
      <%= user.attachment_field :profile_image %>
      <h4 class="edit-space">名前(2~10文字)</h4>
      <%= user.text_field :name, placeholder: "必須" %>
      <h4 class="edit-space">自己紹介(~100文字)</h4>
      <%= user.text_area :introduction %>
      <h4 class="edit-space">メールアドレス</h4>
      <%= user.text_field :email, placeholder: "必須" %>
      <div class="edit-space"><%= user.submit "変更を保存する", class: "btn btn-outline-info text-white" %></div>
    <% end %>
  </div>
</div>