<%= render 'users/users/error_message', user: @user %>
<%= form_with model: @user, url: user_path, local: true do |user| %>
  <h3>Photo</h4>
  <%= user.attachment_field :profile_image %>
  <h3>Name(2~10文字)</h4>
  <%= user.text_field :name %>
  <h3>Introduction(~100文字)</h4>
  <%= user.text_area :introduction %>
  <h3>Email</h3>
  <%= user.text_field :email %>
  <%= user.submit "変更を保存する" %>
<% end %>