<%= form_with model: @user, url: user_path, local: true do |user| %>
  <h3>Photo</h3>
  <%= user.attachment_field :profile_image %>
  <h3>Name</h3>
  <%= user.text_field :name %>
  <h3>Introduction</h3>
  <%= user.text_area :introduction %>
  <h3>Email</h3>
  <%= user.text_field :email %>
  <%= user.submit "変更を保存する" %>
<% end %>