<div class="back-image-2 font-color">
	<div class="row">

		<div class="col-sm-3 background">
			<div class="my-page text-center slide mt-3">
				<%= render 'mypage', user: @user %>
			</div>
		</div>

		<div class="col-sm-9">
			<div class="user-list">
			  <% @users.each do |user| %>
						<%= link_to user_path(user) do %>
							<%= attachment_image_tag user, :profile_image, size: "200x200", format: 'jpeg', fallback: "017c44c97a38c1c4999681e28c39271d.png", class: "rounded-circle" %>
						<% end %>
						<%= user.name %><span id="relationships_<%= user.id %>"><%= render 'users/relationships/follow_button', user: user %></span>
						<span id="follow_count_<%= user.id %>"><%= render 'users/relationships/follow_count', user: user %></span>
						<%= link_to "いいね一覧", user_favorites_path(user), class: 'fas fa-hand-holding-heart btn btn-outline-primary text-white' %>
						<%= link_to "DMをする", message_path(user.id), class: 'fas fa-comments btn btn-outline-success text-white' %>
			  <% end %>
			</div>
		</div>

	</div>
</div>