<div class="col-md-12 back-image-2 font-color">

		<div class="search-text">
			<%= render 'user_serch' %>
			<h4>"<%= params[:search].truncate(13) %>"の検索結果</h4>
		</div>
		<div class="row">
			<% @user_search.each do |user| %>
				<div class="col-lg-3 col-md-4 search-user">
					<div class="row">
						<div class="col-lg-4 col-md-12 offset-1 mt">
							<%= link_to user_path(user) do %>
								<%= attachment_image_tag user, :profile_image, size: "100x100", format: 'jpeg', fallback: "no_image.png", class: "rounded-circle" %>
							<% end %>
						</div>
						<div class="col-lg-6 coll-md-12">
							<h5 class="mt"><%= user.name %> さん</h5>
							<div class="mt"><%= link_to "詳細ページ", user_path(user), class: "btn btn-outline-success text-white" %></div>
						</div>
					</div>

					<div class="user-follow-count">
						<p id="follow_count_<%= user.id %>"><%= render 'users/relationships/follow_count', user: user %></p>
					</div>
				</div>
			<% end %>
		</div>

</div>