<div class="back-image-2">
	<div class="row">

		<div class="col-sm-3 background font-color">
			<div class="my-page text-center slide mt-3">
				<%= render 'mypage', user: @user %>
			</div>
		</div>

		<div class="col-sm-7">
				<h6 class="text-white m-3">~評価ランキング~</h6>
			<div class="row ranking">
				<% @rank_movies.each.with_index(1) do |movie, i| %>
					<div class="card text-center col-sm-4">
						<div class="card-body">
								<h4>第<%= i %>位</h4>
								<label>ジャンル/ <%= movie.genre.name %></label>
								<div class="evaluation-list" data-score="<%= movie.movie_comments.average(:evaluation) %>"></div>
								<p>
									<%= movie.title %>
									<%= movie.directed_by %>
								</p>
								<%= link_to movie_path(movie) do %>
									<%= attachment_image_tag movie, :image, size: "150x200", format: 'jpeg', fallback: "017c44c97a38c1c4999681e28c39271d.png" %>
								<% end %>
								<p><%= movie.body %></p>
						</div>
					</div>
				<% end %>
			</div>
			<% if @user == current_user %>
				<div class="message-list font-color">
					<h6 class="m-3">~DM履歴~</h6>
					<% @anotherEntries.each do |entry| %>
						<div>
							<%= attachment_image_tag entry.user, :profile_image, size: "100x100", format: 'jpeg', fallback: "017c44c97a38c1c4999681e28c39271d.png", class: "rounded-circle" %>
							<%= entry.user.name %> さん
							<span class="last-message">
								<% if entry.room.message_ids.last.present? %>
									<%= Message.find_by(id: entry.room.message_ids.last).message.truncate(20) %>
								<% end %>
							</span>
							<%= link_to "DMをする", message_path(entry.user.id), class: 'fas fa-comments btn btn-outline-success text-white' %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>

		<div class="side-menu col-md-2 font-color">
			<div class="slide"><%= render 'users/homes/customer_index', reports: @reports %></div>
		</div>

	</div>
</div>