<div class="back-image-2">
	<div class="row">

		<div class="col-lg-3 col-md-4 background font-color">
			<div class="my-page text-center slide mt">
				<%= render 'mypage', user: @user %>
			</div>
		</div>

		<div class="col-lg-7 col-md-8 show-user-contents">
			<div class="search-text">
				<%= render 'user_serch' %>
			</div>
			<div class="user_ranking">
				<h4 class="font-color mt">~評価ランキング~</h4>
				<%= render 'users/movies/movie_ranking', rank_movie: @rank_movies %>
			</div>
			<% if @user == current_user %>
				<div class="message-dm font-color mt">
					<h4 class="offset-1 mt">~DM履歴~</h4>
					<% @anothet_entries.each do |entry| %>
						<div class="row show-message-list">
							<div class="offset-1 col-sm-4 col-4">
								<h6><%= entry.user.name %> さん</h6>
								<%= link_to user_path(entry.user) do %>
									<%= attachment_image_tag entry.user, :profile_image, size: "100x100", format: 'jpeg', fallback: "no_image.png", class: "rounded-circle" %>
								<% end %>
							</div>
							<div class="col-sm-7 col-7">
								<div class="mt"><%= link_to "DMをする", message_path(entry.user.id), class: 'fas fa-comments btn btn-outline-success text-white' %></div>
								<div class="last-message mt">
									<% if entry.room.message_ids.last.present? %>
										<%= Message.find_by(id: entry.room.message_ids.last).message.truncate(13) %>
									<% end %>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>

		<div class="side-menu col-lg-2 col-md-12 font-color">
			<div class="slide"><%= render 'users/homes/customer_index', reports: @reports %></div>
		</div>

	</div>
</div>