<% if user_comment.exists? %>
  <h3>感想の投稿はお一つまでになります。</h3>
<% else %>
<div class="new-comment">
    <%= form_with(model:[movie, movie_comment], local: true) do |movie_comment| %>
        <div id="evaluation">
          <label>評価</label>
          <%= movie_comment.hidden_field :evaluation, id: :movie_comment_star %>
        </div>
          <%= movie_comment.text_field :comment, placeholder: "感想入力欄" %>
          <%= movie_comment.submit "投稿する" %>
    <% end %>
</div>
<% end %>

<div class="movie-comment">
    <p>感想 : <%= movie.movie_comments.count %>件</p>
    <% movie.movie_comments.each do |movie_comment| %>
        <%= movie_comment.created_at.strftime('%Y/%m/%d') %>
        <div class="evaluation-list" data-score="<%= movie_comment.evaluation %>"></div>
        <%= attachment_image_tag movie_comment.user, :profile_image, size: "50x50", format: "jpeg", fallback: "no_image.jpg" %>
        <%= movie_comment.user.name %>さん
        <%= movie_comment.comment %>
        <% if movie_comment.user == current_user %>
            <%= link_to "削除", movie_movie_comment_path(movie, movie_comment), method: :delete, data: {confirm: "削除してもよろしいですか？"} %>
        <% end %>
    <% end %>
</div>

<script>
  $('#evaluation').raty({
    path: '/assets/',
    scoreName: 'movie_comment[evaluation]',
    half: true
  });

  $('.evaluation-list').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>