<% movies.each do |movie| %>
  <div class="movie-list col-lg-4 col-md-6">

      <% if current_user.is_admin? == true %>
        <div><%= movie.is_movie ? '表示中' : '非表示' %></div>
        <%= link_to "変更", edit_movie_path(movie), class: "btn btn-outline-success text-success" %>
        <%= link_to "削除", movie_path(movie), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-outline-danger text-danger" %>
      <% end %>
      <h5 class="movie-contents-height mt"><%= movie.title.truncate(13) %></h5>
      <h6 class="movie-contents-height"><%= movie.directed_by.truncate(13) %></h6>
      <%= link_to movie_path(movie) do %>
        <div>
          <%= attachment_image_tag movie, :image, size: "150x200", format: 'jpeg', fallback: "no_image.png" %>
         </div>
      <% end %>
      <div class="mt">
        <% if movie.movie_comments.present? %>
          <i class="fas fa-star"></i><%= movie.movie_comments.average(:evaluation).round(1) %>
        <% end %>
        <span> / </span>
        <label><%= movie.genre.name %></label>
      </div>
      <div class="mt">
        <%= movie.body.truncate(43) %>
      </div>

  </div>
<% end %>