<div class="movie">
  <%=form_with model: @movie, url: movie_path, local: true do |movie| %>
    <h3>画像</h3>
      <%= movie.attachment_field :image %>
    <h3>作品名</h3>
      <%= movie.text_area :title %>
    <h3>内容</h3>
      <%= movie.text_field :body %>
      <%= movie.radio_button :is_movie, true, :checked => true  %>表示中
      <%= movie.radio_button :is_movie, false %>非表示
      <%= movie.submit "編集完了" %>
  <% end %>
</div>