<% if current_user.is_admin? == true %>
    <%= link_to "新規映画作成", new_movie_path %>
<% end %>
<div lass="ranking">
  <%= render 'movie_ranking', rank_movie: @rank_movie %>
</div>
<div class="genre-movies">
  <%= render 'genre', genres: @genres %>
  <% if @genre.present? %>
    <%= render 'genre_movie', movies: @genre_movies, genre: @genre %>
  <% else %>
    <%= render 'all_movie', movies: @movies %>
  <% end %>
</div>
<div class="report">
  <%= render 'users/homes/customer.index', reports: @reports %>
</div>