<div class="col-sm-12 back-image-2">
  <div class="movie">
    <h3 class="search-text">"<%= params[:search].truncate(25) %>"の検索結果</h3>
    <div class="row font-color">
      <% @movie_search.each do |movie| %>
        <div class="col-md-6 search-movie mt">
          <div class="row text-align">
            <div class="col-lg-5 offset-1">
              <%= link_to movie_path(movie) do %>
                <%= attachment_image_tag movie, :image, size: "200x200", format: 'jpeg', fallback: "no_image.png" %>
              <% end %>
            </div>
            <div class="col-lg-6 mt">
              <h5>
                <label><%= movie.title %></label>
                <span> / </span>
                <label><%= movie.directed_by %> 監督</label>
              <h5>
              <div class="mt"><%= movie.body.truncate(53) %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>