<div class="back-image-2 font-color">
    <h4 class="text-align mt"><%= @user.name %> さんとのチャット</h4>
    <div class="message">
        <% @messages.each do |message| %>
          <%= render 'message', message: message %>
        <% end %>
    </div>

    <div class="text-align mt">
      <%= form_with model: @message, remote: true do |message| %>
          <%= message.text_area :message %>
          <%= message.hidden_field :room_id %>
        <%= message.submit "送信", class: "btn btn-outline-success text-white" %>
      <% end %>
    </div>

</div>