<div class="new-genre font-color">
  <%= form_with model: genre, url: genres_path, remote: true do |genre| %>
    <h4>ジャンル</h4>
    <h6 class="new-genre-list mt">
      <%= genre.radio_button :is_genre, true, :checked => true  %>表示中
      <%= genre.radio_button :is_genre, false %>非表示
    </h6>
    <div><%= genre.text_field :name %>
    <span class="new-genre-list"><%= genre.submit "追加する", class: "btn btn-outline-info text-white" %></span>
    </div>
  <% end %>
</div>

<div class="row">
  <% genres.each do |genre| %>
  <div class="col-sm-3">
    <div class="genre-list font-color">
      <h6><%= genre.name %></h6>
      <h6><%= genre.is_genre ? '表示中' : '非表示' %></h6>
      <div class="mt">
        <%= link_to "変更", edit_genre_path(genre), class: "btn btn-outline-success text-white" %>
        <%= link_to "削除", genre_path(genre), method: :delete, remote: true, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-outline-danger text-danger"  %>
      </div>
    </div>
  </div>
  <% end %>
</div>