<div class="col-sm-12">
    <div class="back-image-2">
        <div class="edit-genre font-color">
            <%= form_with model: @genre, url: genre_path, local: true do |genre| %>
                <h3>ジャンル</h3>
                <%= genre.text_field :name %>
                <%= genre.radio_button :is_genre, true, :checked => true  %>表示中
                <%= genre.radio_button :is_genre, false %>非表示
                <%= genre.submit "変更する", class: "btn btn-outline-success text-success" %>
            <% end %>
        </div>
    </div>
</div>