<div class="col-sm-12 back-image-2">
    <div class="edit-genre font-color">
        <%= form_with model: @genre, url: genre_path, local: true do |genre| %>
            <h3>ジャンル</h3>
            <div class="mt">
                <label><%= genre.text_field :name %></label>
                <label class="new-genre-list"><%= genre.radio_button :is_genre, true, :checked => true  %>表示中</label>
                <label><%= genre.radio_button :is_genre, false %>非表示</label>
            </div>
            <label class="mt"><%= genre.submit "変更する", class: "btn btn-outline-success text-success" %></label>
        <% end %>
    </div>
</div>