<div class="follow">
  <% users.each do |user| %>
    <div class="relationship">
      <div class="row">
        <div class="col-sm-4">
          <%= link_to user_path(user) do %>
            <%= attachment_image_tag user, :profile_image, size: "100x100", format: 'jpeg', fallback: "no_image.jpg", class: "rounded-circle" %>
          <% end %>
        </div>

        <div class="col-sm-4">
          <label>name / <%= user.name %></label>
        </div>

        <div class="col-sm-4">
          <label id="relationships_<%= user.id %>"><%= render 'follow_button', user: user %></label>
        </div>

      </div>
    </div>
  <% end %>
</div>