<h1>Top page</h1>

<h3>お知らせ作成</h3>
<%= form_with model: @report, url: homes_path, local: true do |report| %>
    <h3>画像</h3>
    <%= report.attachment_field :image %>
    <h3>題名</h3>
    <%= report.text_field :title %>
    <h3>内容</h3>
    <%= report.text_area :body %>
    <%= report.submit '送信' %>
<% end %>

<h3>お知らせ一案</h3>
<% @reports.each do |report| %>
  <%= link_to edit_home_path(report.id) do %>
    <%= attachment_image_tag report, :image, size: "50x50", format: 'jpeg', fallback: "no_image.jpg" %>
    <%= report.title %>
    <%= report.body %>
  <% end %>
    <%= link_to "削除", home_path(report), method: :delete, data: {confirm: "削除してよろしいでしょうか？"} %>
<% end %>