<!DOCTYPE html>
<html>
  <head>
    <title>Shinkaikan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>

        <% if current_user.is_admin? %>
          <li>
            <!--admin側のheaderを作成-->
            <%= link_to "Top", report_path %>
            <%= link_to "Movie", root_path %>
            <%= link_to "Genre", genres_path %>
            <%= link_to "User", users_path %>
          </li>
        <% else %>
          <li>
            <!--customer側のlogin時のheaderを作成-->
            <%= link_to "movies", root_path %>
            <%= link_to "Users", users_path %>
            <%= link_to "DM", user_path(current_user) %>
          </li>
        <% end %>
        <li>
          <%= link_to "logout", destroy_user_session_path, method: :delete %>
        </li>
    <% else %>
        <li>
          <%= link_to "ログイン", user_session_path %>
          <%= link_to "新規登録", new_user_registration_path %>
        </li>
    <% end %>

    <%= yield %>
  </body>
</html>
