<div class="col-sm-12 back-image font-color">
    <div class="login-page">
      <div class="error-message">
        <%= render "users/shared/error_messages", resource: resource %>
      </div>
      <h2>新規登録<h6 class="mandatory">必須</h6></h2>

      <%= form_with model: @user, url: user_registration_path, class: 'new_user', local: true do |f| %>

        <div class="field">
          <%= f.label :Nickname %><br />
          <%= f.text_field :name, placeholder: "必須項目", autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :Email %><br />
          <%= f.email_field :email, autofocus: true, placeholder: "必須項目", autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :Password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, placeholder: "必須項目", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :Password %>(確認)<br />
          <%= f.password_field :password_confirmation, placeholder: "必須項目", autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: "btn-outline-info  btn btn-outline-info text-white" %>
        </div>
      <% end %>

      <h4><%= link_to 'ゲストログイン(閲覧用)', users_guest_sign_in_path, method: :post, class: "btn-outline-info  btn btn-outline-info text-white" %></h4>
      <h4>既にご登録いただいている方<%= link_to "ログインはこちら", user_session_path, class: "btn-outline-info  btn btn-outline-info text-white mt-3" %></h4>
    </div>

      <h4>新海館とは、、</h4>
</div>